<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
  <br>
  <div class='container'>
    <div class='row'>
      <div class='col-10'>
        <%= link_to 'Simple AirBnB', flats_path %>
        <%= link_to 'Add new flat', new_flat_path %>
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
